---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Carousel from '../components/Carousel.astro';
import Teaser from '../components/Teaser.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<Header></Header>
	<main class="space-y-4">
		<section id="hero" class="text-white w-full">
				<video playsinline autoplay muted loop poster="IMG_Hero.webp" id="bgvideo" class="w-full" style="background-image: url(IMG_Hero.webp)">
				<source src="hero.mp4" type="video/mp4">
				</video>
		</section>
		<section id="featured" class="flex flex-col-reverse md:flex-row justify-center md:mx-20 md:space-x-5">
			<div class="md:w-1/2 p-10 md:py-20 bg-black font-fira text-white overflow-hidden">
				<h2 class="text-sm font-light">Show and Shine</h2>
				<h1 class="text-4xl font-bold group">
					<a href="#">
						<span class='bg-left-bottom bg-gradient-to-r from-white to-white bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-[3000ms] ease-out'>
							Lorem ipsum dolor sitLorem ipsum dolor sit
						</span>
					</a>
				</h1>
				<article class="hidden md:block text-sm font-light mt-8">
					<p>
						Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus.				
					</p>
				</article>
			</div>
			<div class="md:w-1/2">
				<a rel="noopener noreferrer" href="#" aria-label="Featured Image Link">
					<img src="IMG_Hero.webp" class="w-full h-full" alt="Featured Image">
				</a>			
			</div>
		</section>
		<section id="carousel">
			<Carousel></Carousel>
		</section>
		<section id="collections" class="flex flex-col md:grid md:grid-cols-2 gap-4 md:px-20 py-5 bg-gradient-to-t from-black">
			<div class="relative"><Teaser></Teaser></div>
			<div class="relative md:row-span-2"><Teaser></Teaser></div>
			<div class="relative"><Teaser></Teaser></div>
			<div class="relative"><Teaser></Teaser></div>
			<div class="relative"><Teaser></Teaser></div>
		</section>
	</main>
	<Footer></Footer>
</Layout>
